{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
{% block title %}Disciplines{% endblock %}
{% block content %}
<form method="POST">
  {{ form.hidden_tag() }}
  <p>New discipline</p>
  <p>Title:</p>{{ form.title }}
  {{ form.create }}
</form>
<hr>
{% if disciplines|length > 0 %}
  <table>
    <thead>
      <th>Title</th>
      <th>Update</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for each in disciplines %}
        <tr>
          <td>{{ each['title'] }}</td>
          <td>
            <form action="{{ url_for('update_discipline', identificator=each['id']) }}">
              <input type="hidden" name="_method" value="PUT">
              {{ form.title }}
              <button type="submit">Update</button>
            </form>
          </td>
          <td>
            <form action="{{ url_for('del_discipline', identificator=each['id']) }}">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}