{% extends "base.html" %}
{% block title %}Students{% endblock %}
{% block content %}
<form method="POST">
  {{ form.hidden_tag() }}
  <p>Search students</p>
  <p>Name:</p>
  {{ form.name }}
  {{ form.search }}
</form>
<hr>
{% if students and students|length > 0 %}
  <table>
    <thead>
      <tr>
        <th>Full name</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for each in students %}
      <tr>
        <td>
          <a href="{{ url_for('student', identificator=each['id']) }}">{{ each['name'] }}</a>
        </td>
        <td>
          <form action="{{ url_for('del_student', identificator=each['id']) }}">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
{% if paginator %}
  {% if paginator.has_previous %}
    <a href="{{ url_for('search', page=paginator.previous, query=query) }}">previous</a>
  {% endif %}
  {% if paginator.has_next %}
    <a href="{{ url_for('search', page=paginator.next, query=query) }}">next</a>
  {% endif %}
{% endif %}
{% endblock %}